.navbar {
    background-color: #32705b; /*Navbar-umrand farbe ändern*/
    font-family: 'Exo 2', sans-serif; /*Schriftart*/
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }
  
  .container-fluid {
    background-color: rgba(230,221,206,255);
    font-family: 'Exo 2', sans-serif; /*Schriftart*/
  }

  #container1::before {
    content: "\a";
    white-space: pre;
  }

  #container::after {
    content: "\a";
    white-space: pre;
  }

  .carousel-caption {
    right: 10%;
    left: unset;
  }

  .gificon {
    text-align: end;
  }

  h1 p {
    font-family: 'Exo 2', sans-serif; /*Schriftart*/
  }

  .titlecontainer {
    font-family: 'Exo 2', sans-serif; /*Schriftart*/
  }

  